@import "../../vars.scss";

.content {
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

.container {
  position: absolute;
  top: 15px;
}

@media only screen and (max-width: 800px) {
  .tab-content{
    margin-top: 10px;
  }
}

@media only screen and (max-width: 440px){
  .card {
    padding: 0px;
    margin: 0px;
    background-size: cover;
  }
}

.card {
  margin: 0 auto;
  border-radius: 10px;
  max-width: 100vw !important;
  width: 33.8rem;
}

.card img {
  border-radius: 10px;
}
